html {
	background: radial-gradient(rgb(81, 223, 181), rgb(49, 33, 151));
	height: 100%;
}

body {
	font-family: 'Open Sans', sans-serif;
}

.box {
	display: flex;
	flex-wrap: wrap;
}

.items {
	flex: 1;
}

.q {
}

.a {
	display: none;
	transform: all 1s;
}

.a.active {
	display: block;
	transition: all 1s;
}
